body {
  background-color: #f3e7f8;
}

.text-purple {
  color: #4b006e;
}

.btn-purple {
  background-color: #4b006e;
  color: white;
  border-radius: 999px;
  padding: 10px 0;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-purple:hover {
  background-color: #36004e;
}

.login-card {
  background-color: white;
  border-radius: 24px;
  max-width: 1100px !important;
  width: 100%;
}

.input-icon {
  position: absolute;
  top: 10%;
  left: 16px;
  color: #666;
  font-size: 1.1rem;
}

.custom-input {
  border-radius: 999px;
  background-color: #f2f2f2;
  font-size: 0.95rem;
  color: #333;
}

.custom-input::placeholder {
  color: #888;
}

.modal-content {
  border-radius: 24px !important;
}

.modal-body {
  font-size: 1rem;
  padding: 1.5rem;
  font-weight: 500;
}

.modal-footer {
  border-top: none;
  justify-content: center;
}

.toggle-password { 
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    right: 16px; 
    color: #666;
    font-size: 1.1rem;
    cursor: pointer; 
    z-index: 2; 
}
