@font-face {
  font-family: 'TAN Aegean';
  src: url('../../Recursos/TAN_Aegean/TAN - AEGEAN Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Signika';
  src: url('../../Recursos/Signika/Signika-VariableFont_wght.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.left-panel {
  background-color: #e9d5ff;
  color: #4b0082;
}

.tipo-atendimento {
  font-weight: bold;
  font-size: 32px;
  font-family: "Signika";

}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.especialidade {
  font-size: 20px;
  font-family: 'Signika';
}

.calendario {
  max-width: 360px;
}

.mes-navegacao {
  background-color: #c084fc;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
}

.mes-navegacao button {
  background: none;
  border: none;
  font-size: 22px;
  color: white;
  cursor: pointer;
  font-family: "Signika";
}

.dias-semana {
  font-weight: bold;
  font-size: 12px;
  font-family: "Signika";
}

.dias button {
  background-color: #ede9fe;
  color: #4b0082;
  padding: 8px 0;
  border-radius: 6px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  width: 100%;
  font-family: 'Signika';
}

.dias button.ativo {
  background-color: #a855f7;
  color: white;
  font-family: "Signika";
}

.ilustracoes img {
  max-height: 200px;
  width: auto;
}

.right-panel {
  background-color: white;
}

.subtexto {
  font-size: 14px;
  color: gray;
  margin-bottom: 20px;
}

.horarios button {
  padding: 12px;
  border: 2px solid #e9d5ff;
  background-color: white;
  color: #a855f7;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Signika";
}

.horarios button:hover {
  background-color: #f3e8ff;
  font-family: "Signika";
}
.ilustracoes img {
  opacity: 70%;
}

@media (max-width: 768px) {
  .horarios {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .horarios button {
    width: 45%;
  }
}
