spring:
  datasource:
    url: jdbc:postgresql://10.110.12.49:5432/mentalhelp
    username: postgres
    password: 12345
    driver-class-name: org.postgresql.Driver
    initialization-mode: always

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

app:
  fotos:
    diretoriosProfissional:
      - /app/profissionalPictures
    diretoriosPaciente:
      - app/pacientePictures
