body {
    font-family: 'Georgia', serif;
  }
  
  .titulo-principal {
    color: #3b2e2e;
    font-size: 3.5rem;
  }
  
  .search-bar input {
    width: 200px;
    border: 1px solid #ccc;
  }
  
  .imagem-container {
    overflow: hidden;
  }
  
  .object-fit-cover {
    object-fit: cover;
    height: 100%;
  }

  .rounded-start-pill {
    border-top-left-radius: 50rem;
    border-bottom-left-radius: 50rem;
  }

  .rounded-end-pill {
    border-top-right-radius: 50rem;
    border-bottom-right-radius: 50rem;
  }

  .bg-semi, #search:focus {
    background-color: rgba(255, 255, 255, 0.5);
  }
  