body {
    background-color: #f3e7f8;
}

.text-purple {
    color: #4b006e;
}

.btn-purple {
    background-color: #4b006e;
    color: white;
    border-radius: 999px;
    padding: 10px 0;
    font-weight: bold;
}

.btn-purple:hover {
    background-color: #36004e;
}

.login-card {
    background-color: white;
    border-radius: 24px;
    max-width: 1100px !important;
    width: 100%;
    min-height: 500px;  /* Altura mínima do quadrado */
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    color: #666;
    font-size: 1.1rem;
}

.custom-input {
    border-radius: 999px;
    background-color: #f2f2f2;
    border: none;
    padding: 10px 16px;
    font-size: 0.95rem;
    color: #333;
}

.custom-input::placeholder {
    color: #888;
}

.object-fit-cover {
    object-fit: cover;
}

.d-flex.justify-content-center.align-items-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1.m-0.fw-bold.text-purple {
    font-size: 2.5rem;  /* Aumente o tamanho do título conforme necessário */
}

/* Estilos adicionais para a recuperação de senha */
#recuperarSenhaForm {
    max-width: 400px;
    margin: 0 auto;
}

#mensagemErro {
    font-size: 0.875rem;
}

.text-center small a {
    text-decoration: none;
    font-weight: bold;
}

.text-center small a:hover {
    color: #36004e;
}
